*{
    font-family: sans-serif;
}

.daftar input[type=text]{
    margin-bottom: 10px;
    width: 36%;
    padding: 6px 7px;
    border-radius: 10px;
    margin-left: 32%;
    border: none;
    cursor: pointer;
    background-color:#320d97 ;
}
.daftar input[type=password]{
    margin-bottom: 10px;
    width: 36%;
    padding: 6px 7px;
    border-radius: 10px;
    margin-left: 32%;
    border: none;
    cursor: pointer;
    background-color:#320d97 ;
}
.daftar input[type=submit]{
    margin-bottom: 10px;
    width: 30%;
    color: white;
    padding: 6px 7px;
    border-radius: 10px;
    margin-left: 35%;
    border: none;
    cursor: pointer;
    background-color:#320d97 ;
}