*{
    font-family: sans-serif;
}

.lgn input[type=text]{
    margin-bottom: 10px;
    width: 36%;
    padding: 6px 7px;
    border-radius: 5px;
    margin-left: 32%;
    border: none;
    cursor: pointer;
    background-color:#320d97 ;
}
.lgn input[type=password]{
    margin-bottom: 10px;
    width: 36%;
    padding: 6px 7px;
    border-radius: 5px;
    margin-left: 32%;
    border: none;
    cursor: pointer;
    background-color:#320d97 ;
}
.lgn input[type=submit]{
    margin-bottom: 10px;
    width: 36%;
    color: white;
    padding: 6px 7px;
    border-radius: 5px;
    margin-left: 32%;
    border: none;
    cursor: pointer;
    background-color:#320d97 ;
}
.dftr{
    padding: 5px 7px;
    margin-left: 32%;
}
a{
    padding: 4px 5px;
    margin-left: 3px;
    font-size: 15px;
    font-family: monospace;
    color: #320d97;
    text-decoration: none;
}
