h1{
    color:#2c0b88 ;
    font-family: monospace;
    text-align: center;
}
.tambah input[type=text]{
    width: 35%;
    color:white;
    padding: 6px 7px;
    border-radius: 10px;
    margin-left: 32%;
    border: none;
    background-color: #4818cc;
    cursor: pointer;
}
.tambah input[type=submit]{
    color:white;
    padding: 6px 7px;
    border-radius: 10px;
    margin-left: 32%;
    border: none;
    background-color:#4818cc;
    cursor: pointer;
}